@page "/"

@using System.Net.Http
@inject HttpClient client

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@message</p>

@code {
    private string message = "";

    protected override async Task OnInitializedAsync()
    {
        message = await client.GetStringAsync("/api/message");
    }
}
